body, html {
    margin: 0px auto;
    padding: 0px auto;
    font-family: arial;
}
#header {
  width: 100%;
  height: 65px;
  background-color: teal;
}
#app {
    text-align: center;
}
.product {
    display: inline-block;
    text-align: left;
    width: 420px;
    margin: 20px;
}
.product-info {
    display: inline-block;
    position: relative;
    left: 20px;
}
.product-info ul {
    padding: 0px 0px 0px 25px;
}
.product-image {
    width: 58%;
    float: left;
    display: inline-block;
    margin-right: 2%;
}
.product-image img {
    width: 100%;
    border: 1px solid gray;
}
.product-info-name {
    font-size: 22px;
    font-weight: bold;
}
label {
  display: block;
  margin-bottom: 8px;
}
.color-option {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.cart {
    display: inline-grid;
    width: 29%;
    height: 34px;
    align-content: center;
    color: #000000;
    text-align: center;
    border: 1px solid #d0d0d0;
    float: right;
}
.add-to-cart {
    display: inline-block;
    color: white;
    background-color: #2b8f56;
    border: none;
    border-radius: 3px;
    width: 43%;
    height: 35px;
    float: left;
    cursor: pointer;
}
.disabled-button {
    background-color: lightgray;
}
.remove-from-cart {
    cursor: pointer;
    display: inline-block;
    color: white;
    background-color: red;
    border: none;
    border-radius: 0px 3px 3px 0px;
    width: 6%;
    height: 36px;
    float: right;
}
